[submodule "buildroot"]
	path = buildroot
	url = https://github.com/starfive-tech/buildroot.git
	branch = JH7110_VisionFive2_devel
[submodule "u-boot"]
	path = u-boot
	url = https://github.com/starfive-tech/u-boot.git
	branch = JH7110_VisionFive2_devel
[submodule "linux"]
	path = linux
	url = https://github.com/starfive-tech/linux.git
	branch = JH7110_VisionFive2_devel
[submodule "opensbi"]
	path = opensbi
	url = https://github.com/starfive-tech/opensbi.git
	branch = JH7110_VisionFive2_devel
[submodule "soft_3rdpart"]
	path = soft_3rdpart
	url = https://github.com/starfive-tech/soft_3rdpart.git
	branch = JH7110_VisionFive2_devel
