[submodule "buildroot"]
	path = buildroot
	url = http://192.168.110.45/sdk/buildroot.git
	branch = jh7110-devel
[submodule "u-boot"]
	path = u-boot
	url = http://192.168.110.45/sdk/u-boot.git
	branch = jh7110-devel
[submodule "linux"]
	path = linux
	url = http://192.168.110.45/sdk/linux.git
	branch = jh7110-5.15.y-devel
[submodule "opensbi"]
	path = opensbi
	url = http://192.168.110.45/sdk/opensbi.git
	branch = master
