[submodule "buildroot"]
	path = buildroot
	url = git@192.168.110.45:sbc/buildroot.git
	branch = vf2-devel
[submodule "u-boot"]
	path = u-boot
	url = git@192.168.110.45:sbc/u-boot.git
	branch = vf2-devel
[submodule "linux"]
	path = linux
	url = git@192.168.110.45:sbc/linux.git
	branch = vf2-515-devel
[submodule "opensbi"]
	path = opensbi
	url = git@192.168.110.45:sbc/opensbi.git
	branch = master
